body{
    font-family: 'Poppins', sans-serif;
}
/*top bar styling starts*/
.top-bar h2{
    color: #48cae4;
}
.top-bar a{
    color: #7f4f24!important;
}
.top-bar a:hover{
    color: aqua;
}
/*top bar styling ends*/

/*Nav bar styling starts*/
nav.navbar{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
nav.navbar a{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
nav.navbar li:hover{
    background-color: aqua;
}

/*Nav bar styling ends*/
/*main slider section starts*/
.main-slider img{
    max-height: 75vh;
}
.main-slider .carousel-caption{
    background-color: gray;
    padding: 2px;
}
/*main slider section ends*/
/*program styling starts*/
.program img{
    height: 300px;
    opacity: .8;
}
.program .card:hover img{
    opacity: 1;
}
.program .card:hover .card-body{
    background-color: #48cae4;
    color: #ffffff;
}

/*program styling ends*/
/*get your tickets section styling starts*/
.tickets {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(45deg, #48d2e4d5, #80808067, #48cae483), url('./images/tickets2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.plan {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url('./images/tickets1.jpg');
    background-position: center;
    background-size: cover;
}
/*timetable section starts*/
.timetable {
    padding-top: 100px;
    padding-bottom: 100px;
}
.timetable p.title{
    background-color: #48cae4;
    color: #ffffff;
}
.timetable img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}